{% extends "layout/base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}


{% block content %}
   <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">ثبت نام</h2>

            <form method="POST" class="card p-4 shadow-sm" novalidate>
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", id="username", required=false) }}
                    {% for error in form.username.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", id="email" , required=false) }}
                    {% for error in form.email.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", id="password" , required=false) }}
                    {% for error in form.password.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control", id="confirm_password", required=false) }}
                    {% for error in form.confirm_password.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                {{ form.submit(class="btn btn-primary w-100") }}
            </form>
        </div>
    </div>
</div>
    ط
{% endblock %}