{% extends "layout/base.html" %}


{% block content %}
<div class="container text-center mt-5">
    <h1>به سیستم مدیریت وظایف خوش آمدید</h1>
    <p class="lead">با سیستم ما وظایف خود را به طور موثر مدیریت کنید.</p>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-primary me-3" href="{{ url_for('auth.login') }}">ورود</a>
        <a class="btn btn-secondary me-3" href="{{ url_for('auth.register') }}">ثبت نام</a>
        {% if current_user.is_authenticated %}
             <a class="btn btn-success" href="{{ url_for('dashboard.dashboard') }}">داشبرد</a>
        {% endif %}
    </div>

</div>
{% endblock %}